.menu-logo{
  width: 28px;
  margin-left: 20px;
  display: none;
}

@media only screen and (max-width: 768px){
  /*nav-bar*/
  nav ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70px;
    left: 0;
    background: linear-gradient(340deg, #0099cc, #006699);
    width: 1024px;
    height: 100vh;
    overflow: hidden;
    transition: 1s;
    z-index: 500;
  }

.dropdown{
  margin-right:0px;
}

.afb-alinea1{
  visibility:hidden;
  height:0px;
}

  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .menu-logo{
    display: block;
    cursor: pointer;
    margin-right:50px;
  }

  .nav-links a{
    color: #fff;
  }

/*Korte-inleiding*/
  .eerste-tekst {
    display: flex;
    align-items:center;
    text-align: center;
    flex-direction: column;
    width: 80%;
    margin-left:-20px;
    color: #fff;
    font-size: 20px;
    font-family: Agbalumo;
}

.personeels-leden{
  width:80%;
  margin-top:30px;

}

.personeels-leden :hover {
  all:unset;
}

.korte-inleiding {
  width: 100%;
  flex-direction:column;
  min-height:60vh;
  justify-content:center;
}

.personeelstekst{
  visibility:hidden;
  height:0px;
}

.personeel{
  all: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
  font-family: Agbalumo;
  margin-top:100px;
  margin-bottom:140px;
  animation:none;
}

.schermen{
  height:0px;
  visibility:hidden;
}

.info-home{
  max-width:85%;
}

.extra-info{
  flex-direction:column;
  max-height:600px;
}

.footer-inhoud{
  flex-direction:column;
  gap: 30px;
  margin-top:50px;
  margin-bottom: 60px;
}

.starterintrotitle{
  visibility:hidden;
}

.Slidedowncontainer{
  max-height:500px;
}

.centertext{
  display:flex;
  justify-content:center;
  align-items:center;
}

.contacteermain{
  max-width:350px;
}

.contact-body{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.contacteerform{
  max-width:350px;
  margin-bottom:-100px;;
}

.contacteertextarea{
  min-width:330px;
}

.over-container2-1{
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.over-container2-2{
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.over-container2-3{
  width: 66%;
}
.over-vakje1{
  width: 90%;
}
}